<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-3">
    <div class="container-fluid">
      <a class="navbar-brand ps-2 text-warning fw-bold" href="#">LOCALLY</a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#expandme" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="expandme">
          <div class="navbar-nav">
              <a href="adminLand" class="nav-link mx-4">Home</a>
              <a href="" class="nav-link mx-4">Your Services</a>
              <a href="" class="nav-link mx-4">Features</a>
              <a href="" class="nav-link mx-4">Inbox</a>
              <a href="viewcustomer" class="nav-link mx-4">Costumer</a>
              <a href="viewseller" class="nav-link mx-4">Workers</a>
              <a href="/logout">LOGOUT</a>
            </div>
        </div>
    </div>
</nav>