<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
     
    <style>

      .hidden{
        display: none;
      }


      .widthh{
        width: 10%;
      }
    </style>



  </head>
<body>
    <%- include('navbar') %>

    <% for(let i = 0; i < data.length; i++) { %>
        <div class="container my-4">
            <div class="card">
                <div class="card-header">
                    BroadCast
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Message : <%= data[i].message %></p>
                    </blockquote>
                </div>
            </div>
        </div>
        <% } %>

    <%- include('footer') %>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
      function unhide_place1(){
        let placeform= document.getElementById('form1')
        placeform.classList.toggle('hidden')
      }
    </script>
</body>
</html>