<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <h3>
                <p class="text-muted">locally © 2023</p>
            </h3>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
        </div>
    </footer>
</div>



<!-- <footer class="footeer">
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <div class="containeer griid griid--footeer sidemarg">
        <div class="loggo-col">
            <a href="#" class="footeer-logoo">
                <img class="loggo" src="/images/logo.png" alt="logo" />
            </a>

            <ul class="sociaal-links">
                <li>
                    <a class="footeer-link" href="#"><ion-icon class="sociaal-icon"
                            name="logo-instagram"></ion-icon></a>
                </li>
                <li>
                    <a class="footeer-link" href="#"><ion-icon class="sociaal-icon"
                            name="logo-facebook"></ion-icon></a>
                </li>
                <li>
                    <a class="footeer-link" href="#"><ion-icon class="sociaal-icon"
                            name="logo-twitter"></ion-icon></a>
                </li>
            </ul>

            <p class="copyrighht">
                Copyright &copy; <span class="year">2027</span> by Locally. Inc
                All rights reserved
            </p>
        </div>
        <div class="address-col">
            <p class="footeer-headinng">Contact us</p>
            <address class="contactts">
                <p class="addreess">
                    623 Harrison St., 2nd Floor, San Francisco, CA 94107
                </p>
                <p>
                    <a class="footeer-link" href="tel:415-201-6370">415-201-6370</a><br />
                    <a class="footeer-link" href="mailto:hello@amanfood.com">hello@locally.com</a>
                </p>
            </address>
        </div>
        <nav class="nav-col">
            <p class="footeer-headinng">Account</p>
            <ul class="footeer-nav">
                <li><a class="footeer-link" href="#">Create account</a></li>
                <li><a class="footeer-link" href="#">Sign in</a></li>
            </ul>
        </nav>
        <nav class="nav-col">
            <p class="footeer-headinng">Company</p>
            <ul class="footeer-nav">
                <li><a class="footeer-link" href="#">About Locally</a></li>
                <li><a class="footeer-link" href="#">For Business</a></li>

                <li><a class="footeer-link" href="#">Careers</a></li>
            </ul>
        </nav>
        <nav class="nav-col">
            <p class="footeer-headinng">Resources</p>
            <ul class="footeer-nav">
                <li><a class="footeer-link" href="#">Help center</a></li>
                <li><a class="footeer-link" href="#">Privacy & terms</a></li>
            </ul>
        </nav>
    </div>
</footer> -->