<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap"
      rel="stylesheet"
    />

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <title>Document</title>
  </head>

  <body>
    <header class="header">
        <a href="/">
          <img class="logo" alt="Startup logo" src="images/logo.png" />
        </a>
  
        <nav class="main-nav">
          <ul class="main-nav-list">
            <li><a class="main-nav-link" href="/">Home</a></li>
            <li><a class="main-nav-link" href="/about">About Us</a></li>
            <li>
              <a class="main-nav-link" href="/#testimonials">Testimonials</a>
            </li>
            <li><a class="main-nav-link" href="/contact">ContactUs</a></li>
            <li><a class="main-nav-link nav-cta" href="/login">Login</a></li>
          </ul>
        </nav>
      </header>
  

    <main>
      <section class="section-hero">
        <div class="hero">
          <div class="hero-white">
            <div class="hero-text-box">
              <h1 class="heading-primary heading-main">
                Get things done with our trusted local professionals
              </h1>
              <p class="hero-description discription-main">
                The smart 365-days-per-year food subscription that will make you
                eat healthy again. Tailored to your personal tastes and
                nutritional needs.
              </p>

              <div class="butt-main">
                <a href="#cta" class="btn btn--full margin-right-sm"
                  >Get started</a
                >

                <a href="#how" class="btn btn--outline">Learn more &darr;</a>
              </div>
            </div>
            <div class="delivered-meals">
              <div class="delivered-imgs">
                <img
                  src="images/img/customers/customer-1.jpg"
                  alt="Customer photo"
                />
                <img
                  src="images/img/customers/customer-2.jpg"
                  alt="Customer photo"
                />
                <img
                  src="images/img/customers/customer-3.jpg"
                  alt="Customer photo"
                />
                <img
                  src="images/img/customers/customer-4.jpg"
                  alt="Customer photo"
                />
                <img
                  src="images/img/customers/customer-5.jpg"
                  alt="Customer photo"
                />
                <img
                  src="images/img/customers/customer-6.jpg"
                  alt="Customer photo"
                />
              </div>
              <p class="delivered-text">
                <span>250,000+</span> Happy Customers
              </p>
            </div>
          </div>
          <div class="hero-img-box">
            <picture>
              <source srcset="images/img/hero.webp" type="images/image/webp" />
              <source
                srcset="images/img/hero-min.png"
                type="images/image/png"
              />

              <!-- <img
                src="img/hero-min.png"
                class="hero-img"
                alt="Woman enjoying food, meals in storage container, and food bowls on a table"
              /> -->
            </picture>
          </div>
        </div>
      </section>

      <section class="section-featured">
        <div class="container">
          <h2 class="heading-featured-in">As featured in</h2>
          <div class="logos">
            <img src="images/img/logos/techcrunch.png" alt="Techcrunch logo" />
            <img
              src="images/img/logos/business-insider.png"
              alt="Business Insider logo"
            />
            <img
              src="images/img/logos/the-new-york-times.png"
              alt="The New York Times logo"
            />
            <img src="images/img/logos/forbes.png" alt="Forbes logo" />
            <img src="images/img/logos/usa-today.png" alt="USA Today logo" />
          </div>
        </div>
      </section>

      <section class="part-sec">
        <div class="part1">
          <h2 class="heading-secondary secondary-changes">
            How we started. . .
          </h2>

          <p class="content-para">
            Locally is a local startup that provides various local services to
            its customers.The company connect local service providers with
            people in their community who needed those services.
          </p>
          <p class="content-para">
            The idea for Locally came about when the founders noticed that many
            local service providers in their area were struggling to reach
            customers online. They realized that there was a need for a platform
            that would make it easier for local service providers to connect
            with customers and for customers to find the services they needed in
            their area.
          </p>

          <p class="content-para">
            Locally is a startup that provides local services by connecting
            service providers with customers in their community. The idea for
            Locally came from a need to help local service providers reach
            customers online. The founders researched the market, identified
            in-demand services, and built a platform with a website and mobile
            app. They used various marketing strategies to promote the platform
            and partnered with local businesses. Today, Locally is a popular
            destination for people looking for local services.
          </p>
        </div>
        <div class="part2">
          <h2 class="heading-secondary secondary-changes postion-change">
            Future Plans. . .
          </h2>

          <p class="content-para-2">
            At Locally, we are committed to providing high-quality and reliable
            services to our customers while continuing to grow and expand our
            business. Here are some of our key future plans:
          </p>
          <p class="content-para-2">
            <li style="list-style-type: none">
              <ul class="list-style">
                Expand our service offerings
              </ul>
              <ul class="list-style">
                Increase our service coverage area
              </ul>
              <ul class="list-style">
                Improve our technology platform
              </ul>
              <ul class="list-style">
                Build partnerships with other local businesses
              </ul>
              <ul class="list-style">
                Hire and train more staff
              </ul>
              <ul class="list-style">
                Focus on sustainability
              </ul>
            </li>
          </p>
        </div>
      </section>

      <%- include('indexCards.ejs') %>

      <section class="section-testimonials partsec2" id="testimonials">
        <div class="part11">
          <div class="testimonials-container">
            <span class="subheading">Testimonials</span>
            <h2 class="heading-secondary">
              Once you try it, you can't go back
            </h2>

            <div class="testimonials">
              <div class="testi-background">
                <figure class="testimonial">
                  <img
                    class="testimonial-img"
                    alt="Photo of customer Dave Bryson"
                    src="images/img/customers/dave.jpg"
                  />
                  <blockquote class="testimonial-text">
                    Inexpensive, healthy and great-tasting meals, without even
                    having to order manually! It feels truly magical.
                  </blockquote>
                  <p class="testimonial-name">&mdash; Dave Bryson</p>
                </figure>
              </div>

              <div class="testi-background">
                <figure class="testimonial">
                  <img
                    class="testimonial-img"
                    alt="Photo of customer Ben Hadley"
                    src="images/img/customers/ben.jpg"
                  />
                  <blockquote class="testimonial-text">
                    The AI algorithm is crazy good, it chooses the right meals
                    for me every time. It's amazing not to worry about food
                    anymore!
                  </blockquote>
                  <p class="testimonial-name">&mdash; Ben Hadley</p>
                </figure>
              </div>

              <div class="testi-background">
                <figure class="testimonial">
                  <img
                    class="testimonial-img"
                    alt="Photo of customer Steve Miller"
                    src="images/img/customers/steve.jpg"
                  />
                  <blockquote class="testimonial-text">
                    Omnifood is a life saver! I just started a company, so
                    there's no time for cooking. I couldn't live without my
                    daily meals now!
                  </blockquote>
                  <p class="testimonial-name">&mdash; Steve Miller</p>
                </figure>
              </div>

              <div class="testi-background">
                <figure class="testimonial">
                  <img
                    class="testimonial-img"
                    alt="Photo of customer Hannah Smith"
                    src="images/img/customers/hannah.jpg"
                  />
                  <blockquote class="testimonial-text">
                    I got Omnifood for the whole family, and it frees up so much
                    time! Plus, everything is organic and vegan and without
                    plastic.
                  </blockquote>
                  <p class="testimonial-name">&mdash; Hannah Smith</p>
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="part22">
          <div class="gallery">

            <% for(let  i = 0; i < 12; i++){ %>
                <figure class="gallery-item">
                    <img
                      src="images/image/allservice/<%= i+1 %>.jpg"
                      alt="Photo of beautifully
                  arranged food"
                    />
                </figure>
            <% } %>

          </div>
        </div>
      </section>
      <section>
        <div class="seller-login">
          <h2 class="heading-secondary marghead">
            Wanna become a service provider click below
          </h2>
          <div class="container grid grid--2-cols grid--center-v">
            <div>
              <p class="step-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus reiciendis, non officiis, magni ducimus temporibus
                praesentium assumenda excepturi tempora quae quas, suscipit
                labore. Id cumque quasi, natus obcaecati quaerat non.
              </p>
            </div>
            <div>
              <a href="/seller/login" class="btn btn--full margin-right-sm margbutton"
                >Get started</a
              >
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="modify"></div>
      </section>

      <%- include('footerv2.ejs') %>


    </main>
  </body>
</html>
