<section class="section-how" id="how">
    <div class="container">
        <span class="subheading">Services</span>
        <h2 class="heading-secondary">
            3 Types of Services provided by us...
        </h2>
    </div>

    <div class="container grid grid--2-cols grid--center-v">
        <!-- STEP 01 -->
        <div class="step-text-box">
            <p class="step-number">01</p>
            <h3 class="heading-tertiary">Outdoor services provided by us</h3>
            <p class="step-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius culpa ratione optio non quibusdam
                voluptates? Earum perferendis labore quae obcaecati est unde officiis alias quidem, distinctio
                aspernatur, ut ullam aut.aspernatur, ut ullam
            </p>
        </div>

        <div class="step-img-box">
            <img src="images/image/service3/outdoor.jpg" class="step-img" alt="iPhone app
preferences selection screen" />
        </div>

        <!-- STEP 02 -->
        <div class="step-img-box">
            <img src="images/image/service3/indoor.jpg" class="step-img" alt="iPhone app
meal approving plan screen" />
        </div>
        <div class="step-text-box">
            <p class="step-number">02</p>
            <h3 class="heading-tertiary">Indoor services provided by us</h3>
            <p class="step-description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum quisquam earum hic commodi. Adipisci a,
                officia facere magni natus, sunt velit dolorum odit est
            </p>
        </div>

        <!-- STEP 03 -->
        <div class="step-text-box">
            <p class="step-number">03</p>
            <h3 class="heading-tertiary">
                Miscellaneous services provided by us
            </h3>
            <p class="step-description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates eveniet ex commodi recusandae saepe
                doloribus, modi mollitia autem! Atque maxime unde omnis quasi eius, cum recusandae
            </p>
        </div>
        <div class="step-img-box">
            <img src="images/image/service3/miscellinious.jpg" class="step-img" alt="iPhone app
delivery screen" />
        </div>
    </div>
</section>