<!-- <div>
    <nav class="navbar navbar-expand-md bg-dark mb-5 p-3" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                   
                    <li class="nav-item">
                        <a class="nav-link" href="/about" target="_blank">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact" target="_blank">Contact Us</a>
                    </li>
                </ul>
                <a href="/profile" class="flex-right" target="_blank">
                    <button class="btn btn-outline-light"> Profile </button>
                </a>
            </div>
        </div>
    </nav>
</div> -->


<header class="headeer">
    <a href="/customerView">
      <img class="loggo" alt="Startup logo" src="/images/logo.png" />
    </a>

    <nav class="maiin-naav">
      <ul class="maiin-naav-lisst">
        <!-- <li><a class="maiin-naav-linnk" href="/">Home</a></li> -->
        <li><a class="maiin-naav-linnk" href="/chat" target="_blank">Chat</a></li>
        <li><a class="maiin-naav-linnk" href="/about" target="_blank">About Us</a></li>

        <li><a class="maiin-naav-linnk" href="/contact" target="_blank">ContactUs</a></li>
        <li><a class="maiin-naav-linnk naav-ctta" href="/profile">Profile</a></li>
      </ul>
    </nav>
  </header>