<header class="headeer">
    <a href="/">
      <img class="loggo" alt="Startup logo" src="images/logo.png" />
    </a>

    <nav class="maiin-naav">
      <ul class="maiin-naav-lisst">
        <li><a class="maiin-naav-linnk" href="/">Home</a></li>
        <li><a class="maiin-naav-linnk" href="/about">About Us</a></li>
        <li>
          <a class="maiin-naav-linnk" href="/#testimonials">Testimonials</a>
        </li>
        <li><a class="maiin-naav-linnk" href="/contact">ContactUs</a></li>
        <li><a class="maiin-naav-linnk naav-ctta" href="/login">Login</a></li>
      </ul>
    </nav>
  </header>